@font-face {
	font-family: "FiraSans";
	src: local("☺"), url("../fonts/FiraSans-ExtraLightItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Philosopher";
	src: local("☺"), url("../fonts/Philosopher-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	/*color: rgba(161, 153, 7, 0.979);*/
	color: white;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body {
	/*background-color: green;*/
	/*background-image: url(../img/bgr.jpg);*/
	/*background-color: #c2c2c2;*/
	/*background-color: rgb(194, 194, 194, 50%);*/
	/*border: 2px dotted black;*/
}
.wrapper {
	/*margin: 0 2% 0 2%;*/
	/*max-width: 1600px;*/
	/*max-height: 900px;*/
	/*background-color: rgba(194, 194, 194, 50%);*/
	/*border: 2px solid green;*/
}
.header{
	position: sticky;
	top: 0;
	height: 8vh;
	/*border: 2px solid green;*/
}
.header_block{
	height: 100%;
	/*border: 2px solid white;*/
	/*display: inline-block;*/
}
.header_block_logo{
	display: inline-block;
	/*min-width: 64px;*/
	min-width: 5%;
	/*width: 5%;*/
	height: 100%;
	vertical-align: top;
	/*border: 2px solid white;*/

}
.header_block_logo img{
	/*margin-top: 8px;*/
	margin-top: 16%;
	/*width: 42px;*/
	/*height: auto;*/
	height: 68%;
}
.header_menu{
	position: fixed;
	top: 2%;
	right: 3%;
	display: inline-block;
	min-width: 90%;
	height: auto;
	text-align: center;
	/*border: 2px solid white;*/
}
.header_menu li{
	display: inline-block;
	margin-left: 8%;
	font-size: 22px;
}
.header_block_img{
	display: inline-block;
	float: right;
	height: 100%;
	/*border: 2px solid yellow;*/
}
.header_block_img img{
	position: relative;
	display: none;
	margin: 11% 9px 0 0;
	/*width: 40px;*/
	height: 78%;
	/*background-color: white;*/
	z-index: 2;
}
/*todo написать js для header что если ширина экрана больше 507px то .hidden должен быть display:none */
.hidden{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background: #555555;
	background-blend-mode: darken;
	z-index: 1;
/*border: 2px solid white;*/
}
.hidden_list{
	position: absolute;
	top: 20%;
	left: 27%;
	width: 160px;
	height: auto;
	float: right;
	font-size: 32px;
}
.hidden_list li{
	margin-bottom: 12%;
}
.hidden_list li:last-child{
	margin-bottom: 0;
}
.hidden_img{
	top: 30px;
	right: 30px;
}
/*--------media-header--------*/
@media(max-width: 992px){
	.header_block_logo img{
		margin-top: 18%;
		height: 68%;
	}
}
@media (max-width: 768px){
	.header_block_logo img{
		margin-top: 20%;
		height: 68%;
	}
}
@media(max-width: 510px){
	.header_menu{
		display: none;
		text-align: left;
	}
	.header_menu li{
		text-align: left;
		font-size: 32px;
	}
	.header_menu li a{
		font-weight: bold;
  text-shadow: -2px 11px 3px black;
	}
	.hidden{
		display: block;
		transition: 0.5s;
	}
	.hidden_list{
		/*display: block;*/
	}
	.header_block_img img{
		display: block;
		transition: 0.4s;
	}
}
.content {
	max-width: 1349px;
	/*border: 2px solid yellow;*/
}
/*--------common_page--------------------*/
.hi,.courses,.services,.contact{
	scroll-margin-top: 8vh;
	/*height: 100vh;*/
	background-color: rgba(194, 194, 194);
	/*border: 2px solid red;*/
}
.services,.contact{
	background-color: rgba(194, 194, 194, 50%);
}
.header_block,.hi_block,.services_block,.courses_block,.contact_block{
	margin: 0 2% 0 2%;
	/*border: 2px solid blue;*/
}

/*----------common--------------*/
.active {
	background-color: #ff0000;
	font-weight: bold;
}
.bgd{
	background-color: #e60023;
}
.bdb{
	border-bottom: 5px solid #e60023;
}
.clr{
	color: #e60023;
}
.title{
	/*margin: 15px 0 18px 2%;*/
	margin: 0 0 2% 2%;
	padding-top: 15px;
	font: 30% Philosopher;
	/*font-size: 30px;*/
	font-size: calc(24px + 8 * (100vw / 1366));
	text-transform:uppercase;
}
.btn{
	display: inline-block;
	/*padding: 4px 6px;*/
	padding: 7px 6px;
	min-width: 126px;
	min-height: 36px;
	height: auto;
	color: white;
	/*font-size: 20px;*/
	font-size: calc(16px + 2 * (100vw / 1366));
	/*letter-spacing: 3px;*/
	border: 3px solid rgb(255,255,255);
	border-radius: 20% 0 20% 0;
	cursor: pointer;
}
.btn:hover {
	color: #fff;
	box-shadow: 5px 1px 6px black;
	background-color: rgba(194, 194, 194);
	border: 2px solid rgba(194, 194, 194);
	/* color: #000; */
	/* filter: brightness(0.7); */
}
h3{
	font: 100% Philosopher;
	font-size: calc(14px + 3 * (100vw / 1366));
	text-transform:uppercase;
	letter-spacing: 1px;
}
/*-----------hi-----------------*/
/*@supports (height: 100dvh) {*/
/*	#s1 {*/
/*		height: calc(100dvh - 8vh); !* 100dvh минус высота заголовка 8vh *!*/
/*	}*/
/*}*/
.hi{
	/*scroll-margin-top: 8vh;*/
	height: 92vh;
	/*border-bottom: 5px solid green;*/
	/*background:  url('../img/pencil.webp') no-repeat center /cover;*/
}
.hi_block{
	height: 100%;
	/*border: 2px solid blue;*/
}
.hi_photo,.about{
	display: inline-block;
	/*width: 49.84%;*/
	/*max-width: 49.84%;*/
	/*max-width: 58%;*/
	/*height: 85vh;*/
	vertical-align: top;
	/*border: 2px solid red;*/
}
.hi_photo{
	/*padding: 0 0 50% 0;*/
	width: 42%;
	min-width: 300px;
	/*height: 100%;*/
	/*object-fit: cover;*/
	/*border: 2px solid red;*/
}
.hi_photo img{
	margin-top: 3%;
	/*width: 63%;*/
	/*width: 554px;*/
	width: 100%;
	/*height: auto;*/
	/* max-height: 555px;*/
	 height: 555px;
	/*object-fit: cover;*/
	border: 2px solid white;
	border-radius: 20% 0 20% 0;
	/* background: url(/img/bgr_p1.jpg) no-repeat fixed 100px; */
}
.about{
	/*margin-top: 200px;*/
	width: 58%;
	margin-top: 15%;
	float: right;
	font: 100% Philosopher;
	text-align: center;
	/*border: 2px solid red;*/
	/*background:  url('../img/pencil.webp') no-repeat center /cover;*/
}
.about_name{
	/*font-size: 45px;*/
	font-size: calc(30px + 15 * (100vw / 1366));
	letter-spacing: 8px;
	text-shadow: 1px -3px 6px white;
}
.about_specialty{
	margin-top: 12px;
	/*font-size: 21px;*/
	font-size: calc(18px + 3 * (100vw / 1366));
	/*letter-spacing: 1px;*/
}
.about_awards{
	margin-top: 6px;
	font-size: 14px;
	font-weight: bold;
}
.about_experience{
	/*margin-top: 20px;*/
	margin-top: 3%;
	/*padding: 0 20px 0 80px;*/
	/*padding: 0 138px 0 160px;*/
	padding: 0 13% 0 22%;
	/*width: 442px;*/
	text-align: left;
	/*font-size: 16px;*/
	font-size: calc(14px + 2 * (100vw / 1366));
	font-style: oblique;
	color: white;
	text-shadow: 1px 1px 6px black;
	/*border: 2px solid red;*/
}
.about_experience_year,.about_experience_prof,.about_experience_attitude{
	display: block;
	/*margin-bottom: 15px;*/
	margin-bottom: 3%;
}
/*.about_experience_year,.about_experience_prof{*/
/*	text-indent: 5px;*/
/*}*/
.about_experience_attitude{
	margin-bottom: 0;
}
.btn_wr{
	/*margin: 50px 0 0 0;*/
	margin-top: 7%;
}
/*-----media-hi-------------*/
@media (max-width: 1270px){
.about{
	width: 51%;
}
	.hi_photo{
		width: 49%;
	}
}
@media (max-width: 1100px){
.about{
	width: 49%;
}
	.hi_photo{
		width: 51%;
	}
}
@media (max-width: 992px){
	.hi_photo{
		width: 59%;
	}
	.about{
		width: 41%;
	}
	.about_name{
		letter-spacing: 6px;
	}

}
@media (max-width: 768px){
	.hi_photo,.about{
		display: block;
		width: 100%;
		/*height: 50%;*/
		height: 54%;
		/*border: 2px solid red;*/
	}
	.hi_photo img{
		/*width: 250px;*/
		width: 100%;
		height: auto;
	}
	.about{
		margin-top: 0;
		float: none;
	}
	.about_experience{
		padding: 0 3% 0 4%;
	}
}
@media (max-width: 451px){
	.hi_photo{
		position: relative;
		width: 100%;
		height: 52%;
		/*border: 2px solid red;*/
	}
	.hi_photo img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-53%);
		width: 73%;
		height: auto;
	}
}
@media (max-width: 372px){
	.hi_photo,.about{
		width: 100%;
		height: 56%;
	}
	.hi_photo img{
		width: 100%;
		height: auto;
	}
}
/*-----------services---------*/
.services{
	/*height: 100vh;*/
	/*background-color: #c2c2c2;*/
	/*background-color: rgb(194, 194, 194, 50%);*/
	/*background-image: url(../img/bgr.jpg);*/
	/*color: white;*/
	/*border: 2px solid yellow;*/
	/*border-bottom: 5px solid brown;*/
	/*background:  url('../img/lami_bgr.webp') no-repeat center /cover;*/
	/*background:  url('../img/pencil.webp') no-repeat center /cover;*/
}
.services_block{
	/*text-align: justify;*/
	/*margin: 0;*/
	/*height: 100%;*/
	/*border: 2px solid green;*/
}
.services_lamilashes,.services_lamibrows,.services_shapingbrows,.services_complex{
	display: inline-block;
	margin: 0 4% 0 0;
	min-width: 21.75%;
	width: 280px;
	height: auto;
	vertical-align: top;
	/*border: 1px dotted red;*/
}
.services_complex{
	margin-right: 0;
	/*border: 2px solid red;*/
}
.services_photo{
	/*width: 280px;*/
	/*border: 2px solid red;*/
}
.services_photo img{
	width: 100%;
	height: auto;
	object-fit: contain;
	border: 2px solid white;
	border-radius: 20% 0 20% 0;
}
.services_text{
	text-align: left;
}
.services_title{
	margin: 12px 0 3px 0;
	/*border: 2px solid red;*/
}
.services_descript{
	max-width: 219px;
	/*font-size: 14px;*/
	/*font-size: calc(18px + 2 * (100vw / 1366));*/
	font-size: calc(16px + 1 * (100vw / 1366));
	font-style: oblique;
	/*line-height: 15px;*/
	line-height: 0.9;
	/*border: 2px solid red;*/
}
.services_price{
	font-weight: bold;
	/*border: 2px solid white;*/
}
p.services_price{
	margin-top: 11px;
}
.services_lamilashes .services_price,.services_complex .services_price{
	margin-top: 27px;
}
.services_price span{
	color: darkgrey;
}
.services_booking{
	text-align: center;
	/*border: 2px solid red;*/
}
.services_booking_title{
	margin-bottom: 8px;
	/*font-size: 24px;*/
	font-size: calc(18px + 5 * (100vw / 1366));
	letter-spacing: 5px;
	/*border: 2px solid red;*/
}
/*.services_shapingbrows .services_price:nth-of-type(2){*/
/*	margin-top: 9px;*/
/*}*/
/*.services_shapingbrows .services_descript:nth-of-type(3),.services_shapingbrows .services_descript:nth-of-type(5){*/
/*	margin-top: 2px;*/
/*}*/
/*.services_shapingbrows .services_price:nth-of-type(4),.services_shapingbrows .services_price:nth-of-type(6){*/
/*	margin-top: 2px;*/
/*}*/
.services_booking_btn{
	margin-bottom: 12px;
}
.services_booking_btn .btn_in{
	margin-right: 40px;
}
/*-----media-services--------*/
@media (max-width: 1340px){
	.services_lamilashes,.services_lamibrows,.services_shapingbrows,.services_complex{
		/*width: 255px;*/
		min-width: 20.75%;
		width: 206px;
	}
	}
@media (max-width: 992px){
	.services_lamilashes,.services_lamibrows,.services_shapingbrows,.services_complex{
		/*width: 255px;*/
		margin: 0 8% 2% 8%;
		min-width: 20.75%;
		width: 247px;
	}
}
@media (max-width: 763px) {
	.services_block{
		text-align: center;
	}
	.services_lamilashes, .services_lamibrows, .services_shapingbrows, .services_complex {
		/*width: 255px;*/
		margin: 0 8% 2% 8%;
		min-width: 19.75%;
		width: 200px;
	}
}
	@media (max-width: 618px){
	.services_lamilashes,.services_lamibrows,.services_shapingbrows,.services_complex{
		/*width: 255px;*/
		margin: 0 1% 2% 5%;
		min-width: 19.75%;
		width: 200px;
	}
	}
@media (max-width: 479px){
	.services_block{
		/*border: 2px solid brown;*/
		/*border-radius: 20% 0 20% 0;*/
	}
	.services_lamilashes,.services_lamibrows,.services_shapingbrows,.services_complex{
		width: 255px;
	}
	p.services_price{
		margin: 7px 0 7px 0;
	}
	.services_lamilashes .services_price,.services_complex .services_price{
		margin: 7px 0 7px 0;
	}
	.services_photo img{
	}
	}
/*----------course--------*/
.courses{
	/*height: 87vh;*/
	/*background-color: #c2c2c2;*/
	/*background-color: rgb(255, 239, 223,50%);*/
	/*background-color: rgb(245, 245, 220,50%);*/
	/*background-color: rgb(194, 194, 194, 50%);*/
	/*border: 1px solid red;*/
	/*border-bottom: 5px solid yellow;*/
	/*overflow: hidden;*/
}
.courses_block{
	padding-bottom: 20px;
	/*border: 2px solid red;*/
}
.courses_basic{
	/*display: inline-block;*/
	/*width: 100%;*/
	/*border: 2px dotted red;*/
}
.courses_photo,.courses_text{
	/*display: inline-block;*/
	vertical-align: top;
}
.courses_photo{
	width: 29%;
	/*border: 2px solid green;*/
}
.courses_photo img{
	width: 288px;
	height: 225px;
	border: 2px solid white;
	border-radius: 20% 0 20% 0;
}
.courses_text{
	/*padding: 4px;*/
	/*width: 70%;*/
	/*height: 225px;*/
	/*text-align: center;*/
	/*border: 2px solid white;*/
	/*border-radius: 20% 0 20% 0;*/
}
.courses_title{
	/*margin: 12px 0 3px 0;*/
/*border: 2px solid red;*/
}
.courses_descript{
	/*margin: 2% 27% 0 27%;*/
	/*letter-spacing: 2px;*/
	/*line-height: 25px;*/
	font-size: 18px;
	/*width: 200px;*/
	text-align: left;
	/*color: white;*/
	/*color: #f83335;*/
	/*background-color: rgb(255, 239, 223,50%);*/
	/*border: 2px solid red;*/
}
.courses_descript .s,.courses_descript .a,.courses_descript .b,.courses_descript .c,.courses_descript .d{
	display: block;
}
.courses_descript .s{
	color: #f83335;
}
.courses_descript .a{
	color: #e60023;
}
.courses_descript .b{
	color: #dc143c;
}
.courses_descript .c{
	color: #ff6347;
}
.courses_descript .d{
	color: #cd5c5c;
}.courses_descript .sa{
	background-color: #f83335;
}
.courses_descript .aa{
	background-color: #e60023;
}
.courses_descript .ba{
	background-color: #dc143c;
}.courses_descript .ca{
	background-color: #ff6347;
}
.courses_descript .da{
	background-color: #cd5c5c;
}
/*.courses_descript span{*/
/*	margin-left: 280px;*/
/*	text-decoration: underline;*/
/*	!*color: white;*!*/
/*	color: black;*/
/*	cursor: pointer;*/
/*}*/
/*----------contact--------*/
@supports (height: 100dvh) {
	#s4 {
		height: calc(95.5dvh - 8vh); /* 100dvh минус высота заголовка 8vh */
	}
}
.contact{
	/*height: 87vh;*/
	border-bottom: 1px solid black;
}
.contact_block{
	height: 63vh;
	/*border: 2px solid blue;*/
}
.contact_map,.contact_info{
	/*margin-right: 2%;*/
	display: inline-block;
	/*min-width: 49.65%;*/
	min-width: 49%;
	max-width: 100%;
	height: 100%;
	vertical-align: top;
	text-align: center;
	/*border: 2px solid white;*/
	/*border-radius: 20% 0 20% 0;*/
}
.contact_info{
	/*background-image: url(../img/old_Tbilisi.webp);*/
	/*background-size: cover;*/
	/*opacity: 0.5;*/
	/*background: url('../img/old_Tbilisi.webp') no-repeat 100%/100% #555555;*/
	/*background-blend-mode: multiply;*/
	/*background-blend-mode: hard-light;*/
	/*background-blend-mode: difference;*/
	/*color: white;*/
	/*background-repeat: no-repeat;*/
	/*border: 2px solid black;*/
	/*border-radius: 20% 0 20% 0;*/
}
.contact_map{
	/*margin-left: 5px;*/
	float: right;
	/*height: 450px;*/
	/*border: 2px solid yellow;*/
}
iframe{
	width: 100%;
	height: 100%;
}
.contact_info_btn,.contact_info_location{
	margin: 16% 0 16%;
	/*border: 2px solid green;*/
	/*border-radius: 20% 0 20% 0;*/
}
.contact_info_title{
	margin: 2% 0 3% 0;
	/*text-align: center;*/
}
.contact_info_title h3{
	margin-bottom: 1%;
	/*font-size: 16px;*/
}
.contact_text{
	margin-bottom: 1%;
	/*color: white;*/
}
.contact_info_btn .btn_in,.contact_info_btn .btn_wh{
	margin-bottom: 1%;
	/*border: 1px solid black;*/
}
.contact_info_btn .btn_in{
	margin-right: 20px;
}
/*----media-contact----------*/
@media (max-width: 1349px){

}
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 616px) and (min-width: 520px){
	.contact_block{
	}
	.contact_map,.contact_info{
		display: block;
		height: 58%;
	}
	.contact_info{
		height: 41%;
	}
	.contact_map{
		float: none;
	}
	.contact_info_btn, .contact_info_location{
		margin: 7% 0 0 0;
		display: inline-block;
		width: 56%;
		text-align: center;
		vertical-align: top;
	}
	.contact_info_location{
		width: 44%;
		float: right;
	}
}
@media (max-width: 519px){
	.contact_block{
		height: 71vh;
	}
	.contact_map,.contact_info {
		display: block;
		height: 43%;
		/*border: 2px solid yellow;*/
	}
	.contact_map{
		/*border: 2px solid red;*/
		width: 100%;
		height: 56%;
	}
	.contact_info_btn,.contact_info_location{
		margin: 0;
		/*border: 2px solid red;*/
	}
	.contact_info_title h3{
		margin-top: 4%;
	}
	}

/*------------footer---------------------*/
footer{
	/*position: sticky;*/
	/*bottom: 0;*/
	background-color: rgb(194, 194, 194, 85%);
}
