@font-face {
    font-family: "FiraSans";
    /*src: local("☺"), url("../fonts/FiraSans-ExtraLightItalic.ttf") format("truetype");*/
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Philosopher";
    src: local("☺"), url("../fonts/Philosopher-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher";
    src: local("☺"), url("/fonts/Philosopher-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher";
    src: local("☺"), url("/fonts/Philosopher-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    /*    font-size: 100%;*/
    /*    font-size: calc(1em * .0625);*/
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    /*color: rgba(161, 153, 7, 0.979);*/
    color: white;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body {
    /*font-family: Philosopher;*/
    font: 100% Philosopher;
    /*  задать шрифт  */
}

.page {
    min-height: 100%;
    /*    overflow: hidden;*/
}

.container {
    padding: 0 2% 0 2%;
    max-width: 1366px;
    margin: 0 auto;
    /*    display: flex;*/
    /*    border: 2px solid red;*/
}

/*--------common_page--------------------*/
.intro,
.courses,
.services,
.contacts {
    scroll-margin-top: 8vh;
    /*height: 100vh;*/
    background-color: rgba(194, 194, 194);
    /*    background-color: #555555;*/
    /*border: 2px solid red;*/
}

.services,
.contacts {
    background-color: rgba(194, 194, 194, 50%);
}

/*----------common--------------*/
.active a {
    color: #555555;
    /*    color: #e60023;*/
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

.bgd {
    background-color: #e60023;
    /*    background-color: brown;*/
}

.bdb {
    border-bottom: 5px solid #e60023;
    /*border-bottom: 5px solid darkgreen;*/
}

.brd_white {
    border: 2px solid white;
    border-radius: 20% 0 20% 0;
}

.clr {
    color: #e60023;
}

.title {
    padding-top: 1%;
    /*    padding-top: 15px;*/
    /*    font: 30% Philosopher;*/
}

.title__page {
    font-size: calc(24px + 8 * (100vw / 1366));
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    display: inline-block;
    /*padding: 4px 6px;*/
    padding: 7px 6px;
    min-width: 126px;
    min-height: 36px;
    height: auto;
    color: white;
    font-size: calc(16px + 2 * (100vw / 1366));
    text-transform: uppercase;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20% 0 20% 0;
    cursor: pointer;
}

.button:hover {
    /*color: #fff;*/
    box-shadow: 5px 1px 6px black;
    background-color: rgba(194, 194, 194);
    border: 2px solid rgba(194, 194, 194);
    /* color: #000; */
    /* filter: brightness(0.7); */
}

h3 {
    font: 100% Philosopher;
    font-size: calc(14px + 3 * (100vw / 1366));
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*----------header-------------*/
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    z-index: 5;
    /*    border-bottom: 2px solid #ccc;*/
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    padding: 10% 20px;*/
}

.header__logo {}

.header__logo img {
    margin-top: 1vh;
    height: 6vh;
}

.menu {
    /*    display: none;*/
    width: 42%;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    gap: 9%;
    /*    border: 2px solid white;*/
}

.menu__item a {
    font-size: 22px;
    font-weight: bold;
}

.header__menu-icon {
    /*    position: relative;*/
    /*    display: none;*/

}

.menu-icon {
    /*    position: relative;*/
    display: none;
    /*    margin-top: 1vh;*/
    /*    height: 6vh;*/
    /*    z-index: 3;*/
}

/*--Ноутбуки и десктопы--*/

/*--(Full HD)--*/
@media (max-width: 1920px) {}

/*--(стандартные экраны)--*/
@media (max-width: 1440px) {}

/*--(широкие экраны)--*/
@media (max-width: 1280px) {}

/*--------Планшеты--------*/

/*--(iPad Pro)--*/
@media (max-width: 1024px) {}

/**/
/*-- (iPad)--*/
@media (max-width: 768px) {
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 100%;
        height: 100vh;
        background: #555555;
        background-blend-mode: darken;
        transition: 0.5s;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8%;
        width: 100vw;
        height: 100vh;
        /*        float: right;*/
        /*        font-size: 32px;*/
        border: 2px solid white;
    }

    .menu__item {
        text-align: left;
    }

    .menu__item a {
        display: block;
        min-width: 144px;
        text-align: left;
        font-size: 32px;
        font-weight: bold;
        text-shadow: -2px 11px 3px black;
    }

    .menu-icon {
        position: relative;
        display: block;
        /*margin-top: 1vh;*/
        height: 6vh;
        transition: 0.5s;
        /*        z-index: 3;*/
    }
    .cross{
        top: 3vh;
        right: 2vh;
    }
}

/*--Мобильные устройства--*/

/*--(стандартные Android)--*/
@media (max-width: 480px) {}

/*--(iPhone 11 Pro Max)--*/
@media (max-width: 414px) {}

/*--(iPhone 8/8 Plus)--*/
@media (max-width: 375px) {}

/*--(iPhone SE)--*/
@media (max-width: 320px) {}

/*-----------intro----------------*/
.intro {
    height: 92vh;
}

@supports (height: 100dvh) {
    #s1 {
        /*min-height: calc(100svh) ;*/
        height: calc(100dvh - 8vh);
        transition: height 0.2s linear;
    }
}

.intro__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92dvh;
    /*    box-shadow: inset 14px 1px 16px 0px black, 1px 1px 14px black;*/
}

.intro__image,
.intro__about {
    /*    align-self: start;*/
}

.intro__image {
    /*    padding: 2% 0;*/
    padding: min(2%, 26px) 0;
    /*    max-width: 48%;*/
    width: min(48%, 622px);
    /*    width: min(42%, 622px);*/
    /*    max-width: clamp(150px, calc(294.4px - 140.8px * (100vw / 1366)), 294.4px);*/
    /*    border: 2px solid red;*/
}

.intro__image img {
    max-width: 100%;
    /*    max-height: 507px;*/
    height: auto;
    /*    width: auto;*/
    border: 2px solid white;
    border-radius: 20% 0 20% 0;
}

.intro__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*    max-width: 52%;*/
    width: min(52%, 673px);
    /*    text-align: center;*/
    /*    border: 2px solid red;*/
}

.intro__name {
    font-size: calc(30px + 15 * (100vw / 1366));
    /*    font-size: 45rem;*/
    font-weight: bold;
    letter-spacing: 8px;
    text-shadow: 1px -3px 6px white;
}

.intro__profession {
    /*    margin-top: 12px;*/
    /*    padding-top: 12rem;*/
    padding-top: 1%;
    font-size: calc(18px + 3 * (100vw / 1366));
    /*    font-size: 21rem;*/
    text-shadow: 1px 1px 1px black;
}

.intro__experience {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*    margin: 20.1rem 0 47.1rem 0;*/
    /*    margin: 3% 0 7% 0;*/
    /*    padding: 0 67.3rem 0 107.7rem;*/
    padding: 0 10% 0 16%;
    min-height: 140px;
    /*    text-align: left;*/
    font-size: calc(14px + 2 * (100vw / 1366));
    /*    font-size: 16rem;*/
    font-style: oblique;
    color: white;
    text-shadow: 1px 1px 6px black;
    /*    text-shadow: 1px 1px 6px white;*/
    /*    border: 2px solid red;*/
}

.intro__years,
.intro__skills,
.intro__approach {
    /*    border: 2px solid red;*/
}

.intro__button-write {
    margin-top: 4%;
    padding-bottom: 1%;
}

/*-----media-intro-------------*/
@media (hover: hover){
    .button:hover{
        background-color: #e60023;
        border: 3px solid rgb(255, 255, 255);
    }
}
    @media (orientation: portrait) {

    .intro__container {
        flex-direction: column;
    }
}

@media (orientation: landscape) {

    .intro__container {
        flex-direction: row;
    }
}

/*--(Full HD)--*/
@media (max-width: 1920px) {}

/*--(стандартные экраны)--*/
@media (max-width: 1440px) {}

@media (max-width: 1366px) and (orientation: portrait) {
    .intro__image {
        width: 86%;
        padding-top: 4%;
    }

    .intro__about {
        width: 92%;
        height: 100%;
    }
}

/*--(широкие экраны)--*/
@media (max-width: 1280px) {}

/*--------Планшеты--------*/

/*--(iPad Pro)--*/
@media (max-width: 1024px) {}

@media (max-width: 940px) and (max-height: 500px) and (orientation: landscape) {
    .intro__image {
        width: 43%;
    }

}

@media (max-width: 882px) and (max-height: 344px) and (orientation: landscape) {
    .intro__image {
        width: 37%;
    }

}

@media (max-width: 760px) and (max-height: 500px) and (orientation: landscape) {
    .intro__image {
        width: 43%
            /* вернули прежние стили;*/
    }
}



/*-- (iPad)--*/
@media (max-width: 721px) {
    .intro__experience {
        padding: 0 8% 0 14%;
    }
}

@media (max-width: 721px) and (orientation: portrait) {
    .intro__image {
        width: 72%;
    }
}

@media (max-width: 591px) and (max-height: 320px) and (orientation: landscape) {
    .intro__experience {
        padding: 0;
    }

    .intro__name {
        font-size: calc(20px + 15 * (100vw / 1366));
    }

    .intro__profession {
        font-size: calc(16px + 3 * (100vw / 1366));
    }
}

@media (max-width: 430px) {
    .intro__image {
        width: 87%;
        padding-top: 15%;
    }

    .intro__experience {
        padding: 0 2% 0 6%;
    }
}

/*--(iPhone 8/8 Plus)--*/
@media (max-width: 375px) {
    .intro__image {
        padding-top: 7%;
    }
}

/*--(iPhone SE)--*/
@media (max-width: 320px) and (max-height: 568px) {
    .intro__image {
        width: 80%;
    }

    .intro__name {
        font-size: calc(20px + 15 * (100vw / 1366));
    }

    .intro__profession {
        font-size: calc(16px + 3 * (100vw / 1366));
    }

    .intro__experience {
        font-size: calc(14px + 2 * (100vw / 1366));
        padding: 0;
    }
}

@media (max-width: 320px) and (max-height: 480px) {
    .intro__image {
        width: 50%;
    }
}

/*---------services------------------------*/
.services {
    min-height: 92vh;
}

.services__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /*    box-shadow: inset 14px 1px 16px 0px black, 1px 1px 14px black;*/
    /*    border: 2px solid red;*/
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*    gap: 20px;*/
    /*    border: 2px solid yellow;*/
}

.service {
    /*flex: 0 1 23%;*/
    /*    width: 23%;*/
    /*    border: 2px solid blue;*/
}

.service_lashes,
.service_brows,
.service_brows-shaping,
.service_complex {}

.service__image {
    /*    margin-bottom: 15px;*/
    margin-bottom: 4%;
}

.service__image img {
    max-width: 292px;
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 20% 0 20% 0;
}

.service__description {

    /*height: 17.13vh;*/
        /*border: 2px solid red;*/
}

.service__title {
    /*width: min(83%,245px);*/
    margin-bottom: 4%;
    /*    font-size: 1.2em;*/
}

.service__details {
    max-width: 219px;
    /*height: 7.179vh;*/
    height: 50px;
    font-size: calc(16px + 1 * (100vw / 1366));
    font-style: oblique;
    line-height: 0.9;
        /*border: 2px solid red;*/
}

.service__price {
    margin-top: 10px;
    font-weight: bold;
    /*border: 2px solid palevioletred;*/
}

.service_lashes .service__price,
.service_complex .service__price {
    /*margin-top: 25px;*/
}

.service__price span {
    color: darkgrey;
}

.services__booking {
    /*    width: 100%;*/
    text-align: center;
    /*    margin-top: 20px;*/
    /*    border: 2px solid red;*/
}

.services__booking-title {
    /*    padding: 0 0 15px 0;*/
    padding-top: 1%;
    font-size: calc(19px + 5 * (100vw / 1366));
    letter-spacing: 2px;
}

.services__booking-buttons {
    margin: 1% 0;
    /*        display: flex;*/
    /*    justify-content: center;*/
    /*    gap: 20px;*/
    /*    padding-bottom: 20px;*/
}

.services__booking-buttons .button_in {
    margin-right: 20px;
}
/*-----media-services-------------*/

/*--(Full HD)--*/
@media (max-width: 1920px) {}

/*--(стандартные экраны)--*/
@media (max-width: 1440px) {}

@media (max-width: 1366px) and (orientation: portrait) {
    .services {
        min-height: 92vh;
        height: auto;
    }

    .service {
        flex: 1 1 48%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 34vh;
        /* justify-content: center; */
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .services__list{
       gap: 20px;
    }
    .service {
        flex: 1 1 48%;
        height: initial;
    }
    .service__image img {
        max-width: 283px;
        /*max-width: 250px;*/
    }
}
@media (max-width: 520px) and (orientation: portrait) {
    .services__booking{
        margin-bottom: 20px;
    }
}
@media (max-width: 1366px) and (min-height: 810px) and (orientation: landscape){
.services__list{
    margin: 7% 0 0 0;
}
}
/*--(широкие экраны)--*/
@media (max-width: 1280px) and (orientation: landscape){
    .services__list{
        gap: 20px;
    }
    .service {
        flex: 1 1 23%;
    }
}
@media (max-width: 1024px) and (orientation: landscape){
    .service__title{
        font-size: calc(13px + 3 * (100vw / 1366));
    }
}
/*--------Планшеты--------*/
/*--(iPad Pro)--*/
@media (max-width: 953px) and (orientation: landscape) {
    .service__title{
        font-size: calc(11px + 3 * (100vw / 1366));
    }
    .service__details{
        font-size: calc(15px + 1 * (100vw / 1366));
    }
    .service__price{
        font-size: 14px;
    }
}
/* width 832px x 600px */

@media (max-height: 660px) and (orientation: landscape){
    .services {
        min-height: 92vh;
        height: auto;
    }
    .service__image img {
        /*max-width: 292px;*/
    }
}@media (max-width: 832px) and (orientation: landscape){
    .service {
        flex: 0 1 48%;
        display: flex;
        /* height: 65vh; */
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .service__image img{
        max-width: 270px;
    }
}
@media (max-width: 600px) and (max-height: 960px){
    .service__image img {
        /*max-width: 268px;*/
    }
}

/*-- (iPad)--*/
@media (max-width: 768px) {}
/*--Мобильные устройства--*/

/*--(стандартные Android)--*/
@media (max-width: 480px) {}

/*--(неизвестный мне гаджет)--*/
@media (max-width: 425px) {}

/*--(iPhone 11 Pro Max)--*/
@media (max-width: 414px) {}

/*--(iPhone 8/8 Plus)--*/
@media (max-width: 375px) {}

/*--(iPhone SE)--*/
@media (max-width: 320px) {}

/*-------courses-------------------*/
.courses {
    height: 92dvh;
}

.courses__container {
    display: flex;
    flex-direction: column;
    height: 91.5dvh;
    /*    gap: 20px;*/
    /*    box-shadow: inset 14px 1px 16px 0px black, 1px 1px 14px black;*/
}

.courses__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*height: 84vh;*/
    height: 100%;
    /*border: 2px solid #1c1cd7;*/
}

.courses__item {

    /*flex: 0 1 max(40%, 516px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    /*height: 64dvh;*/
    background: url('../img/bgr_course.jpg');
    border: 2px solid white;
    border-radius: 20% 0;
    /*box-shadow: inset 14px 1px 16px 0 black, 1px 1px 14px black;*/
    /*box-shadow: 3px 0px 9px 1px black;*/
    /*box-shadow: inset -14px -1px 16px,20px -1px 3px 5px #e60023;*/
    box-shadow: inset -14px -1px 16px, 20px -1px 3px 5px #e60023, 20px 4px 20px 5px black;
    /*    padding: 1%;*/
    /*    border: 2px solid red;*/
}

.courses__title {
    margin-bottom: 2%;
    padding: 15px;
    /*width: 315px;*/
    /*font-size: 28px;*/
    /*font-size: calc(16px + 9 * (100vw / 1366));*/
    /*font-size: calc(16px + 9 * ((100vw / 1366) + (100vh / 768)) / 2);*/
    font-size: clamp(16px, 1.5vw + 1.5vh, 24px);
    text-align: center;
    text-shadow: 1px 1px 1px black;
    /*border-radius: 12% 12%;*/
    /*box-shadow: inset 3px 1px 4px 2px black;*/
}

.courses__description {
    padding: 2%;
    display: flex;
    flex-direction: column;
    min-height: 76px;
    font-size: clamp(14px, 1vw + 1vh, 16px);
    /*border: 2px solid yellowgreen;*/
}

.courses__text {
    color: white;
    text-shadow: 1px 1px 9px black;
}

.courses__more {
    padding-right: 11%;
    align-self: end;
    /*font-weight: bold;*/
    /*text-shadow: 1px 1px 4px white;*/
    /*text-decoration: underline;*/
}
@-webkit-keyframes glowing {
    0% { font-weight: bold; text-shadow: 0 0 2px white; }
    50% { font-weight: bold; text-shadow: 0 0 10px darkgrey; text-decoration: underline; }
    100% { font-weight: bold; text-shadow: 0 0 2px white; }
}
@keyframes glowing {
     0% { font-weight: bold; text-shadow: 0 0 2px white; }
     50% { font-weight: bold; text-shadow: 0 0 10px darkgrey; text-decoration: underline; }
     100% { font-weight: bold; text-shadow: 0 0 2px white; }
 }
.courses__more a{
    color: #000;
    animation: glowing 3200ms infinite;
}
/*------courses-more------*/
.courses__details{
    /*padding: 3% 6% 0 6%;*/
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 92vh;
    color: #fff;
    background: #555555;
    /*background-blend-mode: darken;*/
    transition: 0.5s;
    overflow-y: auto;
    z-index: 3;
    /*border: 2px solid red;*/
}
.courses__details {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.courses__details::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.courses__details-content{
    padding: 3% 6% 3% 6%;
    /*max-height: calc(100vh - 8vh);*/
    /*overflow-y: auto;*/
    /*border: 2px solid red;*/
}
.courses__details-btn{
    position: relative;
    padding: 3vh 0;
}
.details-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
}
h4.courses__details-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 1px white;
}
h5.courses__details-subtitle{
    /*font-size: 17px;*/
}
.courses__details-item p{
    font-size: 14px;
}
.courses__details-list{
    /*column-count: 2;*/
    padding-left: 2%;
}
.courses__details-item{
    margin-bottom: 2%;
}
.courses__details__certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left; /* Текст внутри параграфов выравнивается по левому краю */
    padding: 20px; /* Опционально, чтобы был отступ */
    gap: 20px;
}

.courses__details__certificate p {
    width: 100%; /* Все параграфы имеют одинаковую ширину */
    max-width: 500px; /* Опционально: ограничение ширины, чтобы текст не был слишком растянут */
}

/*-----media courses-----*/
@media(max-width: 1366px) and (max-height: 600px) and (orientation: landscape){
    .courses__list{
        /*height: 75vh;*/
    }
    .courses__item{
        width: 37%;
        height: 80%;
        box-shadow: inset -14px -1px 16px, 15px -1px 3px 5px #e60023, 15px 4px 20px 5px black;
        /*font-size: calc(14px + 2 * (100vw / 1366));*/
    }
    .courses__title {
        padding: 0;
        /*font-size: calc(16px + 7 * (100vw / 1366));*/
    }
}
@media(max-width: 640px) and (orientation: landscape){
    .courses__item{
        box-shadow: inset -14px -1px 16px, 12px -1px 3px 5px #e60023, 12px 4px 20px 5px black;
        /*font-size: calc(14px + 2 * (100vw / 1366));*/
    }
}
@media(max-width: 580px) and (orientation: landscape){
    .courses__item{
        width: 41%;
        height: 80%;
        box-shadow: inset -9px -1px 16px, 10px -1px 3px 5px #e60023, 10px 4px 20px 5px black;
        /*font-size: calc(14px + 2 * (100vw / 1366));*/
    }
}
@media(max-width: 1366px) and (orientation: portrait){
    .courses__item{
        width: 70%;
        height: 40%;
    }
}
@media(max-width: 750px) and (max-height: 1366px) and (orientation: portrait){
    .courses{
        height: 100%;
    }
    .courses__description{
       padding: 0 10%;
    }
}
@media(max-width: 320px) and (max-height: 639px) and (orientation: portrait){
    .courses__item{
        width: 72%;
        box-shadow: inset -9px -1px 16px, 10px -1px 3px 5px #e60023, 10px 4px 20px 5px black;

    }
    .courses__description{
        padding: 0 5%;
    }
    .courses__title{
        padding: 0;
    }
}
/*-------contacts-------------------*/
.contacts {
    height: 88.5vh;
}
.contacts__container {
    display: flex;
    /*    flex-direction: column;*/
    flex-wrap: wrap;
        justify-content: space-between;
    /*    align-items: center;*/
    gap: 2vh;
}

.contacts__container .title {
    width: 100%;
}

.contacts__info {
    /*padding: 11% 0;*/
    padding: 21vh 0;
    width: 48%;
    height: 75vh;
    text-align: center;
    /*    border: 2px solid red;*/
}

.contacts__title {
    /*    margin: 1% 0;*/
    margin-bottom: 1%;
}

.contacts__cta {
    margin-bottom: 10%;
}

.contacts__cta-buttons {
    margin-top: 2%;
    /*border: 1px solid black;*/
}

.contacts__cta .button_in {
    margin-right: 20px;
}

.contacts__map {
    width: 49%;
    /*    border: 2px solid red;*/
}

iframe {
    width: 100%;
    height: 100%;
}
/*-----media-contacts------------*/
/*@media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 5/4) {*/
    /* Стили для экранов, где соотношение сторон близко к квадратному */
    /*.contacts {*/
    /*    background-color: lightblue;*/
    /*}*/
/*}*/

/*@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 10/9) {*/
    /* Стили для горизонтальных экранов, близких к квадратным */
    /*.contacts {*/
    /*    background-color: lightyellow;*/
    /*}*/
/*}*/
/*@media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 1/1) {*/
    /* Стили для вертикальных экранов, близких к квадратным */
    /*.contacts {*/
    /*    background-color: lightgreen;*/
    /*}*/
/*}*/

/*--(Full HD)--*/
@media (max-width: 1920px) {}

/*--(стандартные экраны)--*/
@media (max-width: 1440px) {}
@media (max-width: 1368px) and (min-height: 844px) and (orientation: landscape) {
    .contacts {
        height: 89vh;
    }
}
@media (max-width: 1368px) and (max-height: 565px) and (orientation: landscape) {
    .contacts {
        height: 87vh;
    }
    .contacts__info{
        padding: 15vh 0;
        height: 70vh;
    }
}
@media (max-width: 1368px) and (max-height: 450px) and (orientation: landscape) {
    .contacts {
        height: 85.5vh;
    }
}
@media (max-width: 1368px) and (max-height: 430px) and (orientation: landscape) {
    .contacts__info{
        padding: 5vh 0;
        height: 67vh;
    }
    .contacts__cta {
        margin-bottom: 5%;
    }
}
@media (max-width: 1366px) and (orientation: portrait) {
        .contacts {
            height: 89.5vh;
        }
        .contacts__info,
        .contacts__map {
            width: 100%;
            height: 40vh;
        }
        .contacts__info {
            display: flex;
            padding: 0 0;
            flex-direction: column;
            justify-content: center;
        }
        .contacts__map {
            /* max-height: 100%; */
        }
    }
@media (max-width: 1366px) and (max-height: 900px) and (orientation: portrait) {
    .contacts {
        height: 88.7vh;
    }
    .contacts__info{
        width: 100%;
        height: 34vh;
    }
}
@media (max-width: 1366px) and (max-height: 700px) and (orientation: portrait) {
    .contacts {
        height: 87.7vh;
    }
    /*.contacts__info{*/
    /*    width: 100%;*/
    /*    height: 34vh;*/
    /*}*/
}
@media (max-width: 1366px) and (max-height: 500px) and (orientation: portrait) {
    .contacts {
        height: 86.7vh;
    }
}
/*------------footer---------------------*/
.footer {
    /*height: 4vh;*/
    background-color: rgb(194, 194, 194, 85%);
    border-top: 1px solid black;
}

.footer__container {
    /*padding: 3px 0;*/
    padding-top: 0.3vh;
    display: flex;
    justify-content: space-between;
}